#VideoShuffleWrapper {
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}
#VideoShuffleCanvas {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

/*
#VideoShuffleBigButton {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -150px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 100px;
}*/
#VideoShuffleFullscreenButton {
    margin: 0px;
    height: 100%;
    width: auto;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
    background-position: center;

    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    
}
#VideoShuffleFullscreenButton > svg {
    fill: rgba(200, 200, 200, 0.5);
    height: 100%;
    width: auto;
}

#VideoShuffleMusicButton {
    margin: 0px;
    height: 100%;
    width: auto;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
    background-position: center;

    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    
}
#VideoShuffleMusicButton > svg {
    fill: rgba(200, 200, 200, 0.5);
    height: 100%;
    width: auto;
}

#VideoShuffleBigButton {
    margin: 0px;
    height: 100%;
    width: auto;
    padding-left: 10px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
    background-position: center;

    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    
}
#VideoShuffleBigButton > svg {
    fill: rgba(200, 200, 200, 0.5);
    display: none;
    height: 100%;
    width: auto;
}
#VideoShuffleBigButton.playing > #pause,
#VideoShuffleBigButton.paused > #play {
    display: inline;
}

#VideoShuffleControls {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #eee;
    background-color: #373636;
    padding: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    transform-origin: bottom left;
}
/*
@media (max-width: 800px) {
    #VideoShuffleControls {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5);
        width: 100%;
    }
}
@media (max-width: 400px) {
    #VideoShuffleControls {
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        transform: scale(0.4);
        width: 100%;
    }
}
*/



#VideoShuffleMusic {
    z-index: 100;
    position: absolute;
    left: 10px;
    bottom: 15%;

    border-radius: 5px;
    box-sizing: border-box;
}

#VideoShuffleMusic.open {
    background-color: rgba(20, 20, 20, 0.5);
}
#VideoShuffleMusic > article {
    display: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #eee;

    margin: 0 0 0 40px;
    padding: 10px;
    width: 350px;

    font-size: 14px;
    text-shadow: 0 1px 0 rgba( 255,255,255,.2 ), 0 -1px 0 rgba( 0,0,0,.2 );
}
#VideoShuffleMusic > article a,
#VideoShuffleMusic > article a:visited {
    color: #eee;
}
#VideoShuffleMusic.open > article {
    display: block;
}








#VideoShuffleControls > div {
    display: inline;
}
#VideoShuffleControls span {
    margin: 0 6px;
    width: 50px;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);

    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    box-sizing: border-box;
}
#VideoShuffleControls span.active {
    color: #fff;
    background-color: black;
}
#VideoShuffleControls > span:hover {
    opacity: 1;
}

#VideoShuffleInfo {
    z-index: 100;
    position: absolute;
    left: 10px;
    top: 10px;

    border-radius: 5px;
    box-sizing: border-box;
}

#VideoShuffleInfo.open {
    background-color: rgba(20, 20, 20, 0.5);
}
#VideoShuffleInfo > article {
    display: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #eee;

    margin: 0 0 0 40px;
    padding: 10px;
    width: 350px;

    font-size: 14px;
    text-shadow: 0 1px 0 rgba( 255,255,255,.2 ), 0 -1px 0 rgba( 0,0,0,.2 );
}
#VideoShuffleInfo > article a,
#VideoShuffleInfo > article a:visited {
    color: #eee;
}
#VideoShuffleInfo.open > article {
    display: block;
}

#VideoShuffleInfoButton {
    width: 20px;
    height: 20px;
    margin: 10px;
    float: left;
    cursor: pointer;
    
    fill: rgba(200, 200, 200, 0.5);
}